# "zooapi" es el nombre que le di a mi bd local - puedes usar el que quieras, siempre que coincida con el que creaste en postgre.

DATABASE_URL="postgres://postgres:1234@localhost:5432/ayudantia4" 
PORT=3000